.hero-title {
  margin-top:0px;
  margin-left:50px;
  text-align: center;
  padding:0px;
  position:absolute;
  width:600px;
  letter-spacing: 1rem;
  text-decoration: bold;
  font-size: 30px;
}

.hero-body {
  margin-top:70px;
  margin-left:90px;
  padding:0px;
  text-align: center;
  position:absolute;
  text-wrap: wrap;
  width: 500px;
  font-size: larger;
  text-decoration: none;
  font-style: normal;
  color:dimgray;
}

.image-container {
  margin-top:0px;
  margin-left:600px;
  padding:0px;
  position: absolute;
  justify-self: center;
  height:500px;
  width:500px;
  
}

.hero-center {
  margin-top:0px;
  margin-left:150px;
  box-sizing: border-box;
  padding:0px;
  justify-self: center;
  position:absolute;
  
  height:200px;width:100%;
}

.mainhero{
  background-color: white;
  box-sizing: border-box;
  height:115%;
  width:100%;
  position:absolute;
  margin-left:-10px;

  
  margin-top:-20px ;
}

.projects 
{
 position: absolute;
  margin-top:1000px;
}

.grid
{
  grid-template-columns: repeat(3,1fr);
  
}


.img
{
  max-height:300px;
  max-width:500px;
  min-height:300px;
  min-width:500px;
  border-radius: 20px;;
}

.title
{
  margin-top:-500px;
  margin-left:500px;
  text-align: center;
  padding:0px;
  position:absolute;
  width:600px;
  letter-spacing: 1rem;
  text-decoration: bold;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: blueviolet;
  text-decoration-thickness: 4px;;
}

.projects-center
{
  grid-template-columns: repeat(2,1fr);
  display: grid;
  gap:4rem;
 
  position:absolute;
  margin-top:-200px;
  margin-left: 250px;
  
  
} 
.llll h5
{
  margin-left:0px;
  font-size: 20px;
  text-align: center;
}

.project
{
  text-decoration: none;
  color:black;
  text-transform:uppercase;
  background-color:aquamarine;
  box-sizing: border-box;
  padding:10px;
  margin-top:0px;
  border-radius: 20px;;
}

.ddd
{
  box-sizing: border-box;
  
  position:center;
  margin-left:-10px;
height:100%;
width:100%;
  padding:0px;
  
  margin-top:100px ;
  
}